html
  head
    meta(charset='utf-8')
    title #{title}
    block scripts
      script(src="/js/jquery-3.6.1.min.js")
      script(src="/bootstrap/js/bootstrap.js")
    block styles
      link(rel="stylesheet" href="/bootstrap/css/bootstrap.css")
      style.
        body {
          background-image: url('/image/46ca9f8.jpeg');
          background-size: cover; 
          background-position: center; 
          background-repeat: no-repeat; 
          color: white; /* Цвет текста всего тела документа */
        }
        .content-background {
          background-color: rgba(0, 0, 0, 0.7); /* Темный фон для содержимого блока */
          padding: 20px; 
          border-radius: 5px; 
          color: white; /* Белый цвет текста для содержимого блока */
        }
        .navbar-brand {
          color: white !important; /* Устанавливаем белый цвет текста для навигационных элементов с !important */
        }
  body
    nav(class="navbar navbar-light px-4" style="background-color: rgb(51, 84, 134);") 
      a(href='/cinemas' class="navbar-brand") Кинотеатры
      a(href='/movies' class="navbar-brand") Фильмы 
      a(href='/restaurants' class="navbar-brand") Кафетерий
      a(href='/orders/cart' class="navbar-brand") Корзина
      if username
        span.navbar-text Добро пожаловать, #{username}!
        a(href="/logout" class="navbar-brand") Выйти
      else
        a(href='/login' class="navbar-brand") Авторизация
    div(class="container-md mt-3")
      block content
