extends layout

block content
  h1 История заказов

  if orders.length
    style.
      table { width: 100%; border-collapse: collapse; }
      th, td { padding: 8px; text-align: left; border-bottom: 1px solid #ddd; }
      th { background-color: #f2f2f2; }
      tr:hover { background-color: #f5f5f5; }

    table
      thead
        tr
          th Заказ
          th Общая сумма
          th Товары (фильм, количество, цена за единицу)
          th Телефон
      tbody
        each order in orders.reverse()
          tr
            td Заказ #{order.id}
            td #{order.total_price} руб.
            td #{order.items} // Отображаем фильм с количеством и ценой за единицу
            td #{order.phone}
  else
    p У вас нет предыдущих заказов.

  a(href='/restaurants') Вернуться к ресторанам
  br
  a(href='/orders/cart') Вернуться в корзину
